## Board oscillator:

NET clk50MHz      LOC = V10 | IOSTANDARD = "LVCMOS33";

NET clk50MHz      TNM_NET = clk50MHz;
TIMESPEC TS_clk50MHz = PERIOD clk50MHz 20 ns;

## LEDs:

NET led<0>        LOC = V5 | IOSTANDARD = "LVCMOS33";
NET led<1>        LOC = R3 | IOSTANDARD = "LVCMOS33";
NET led<2>        LOC = T3 | IOSTANDARD = "LVCMOS33";
NET led<3>        LOC = T4 | IOSTANDARD = "LVCMOS33";

## UART:

NET uart_rx       LOC = B2 | IOSTANDARD = "LVCMOS33";
NET uart_tx       LOC = C4 | IOSTANDARD = "LVCMOS33";

## Gigabit PHY:

NET eth_gtx_clk   LOC = L15 | IOSTANDARD = "LVCMOS33";
NET eth_tx_clk    LOC = K16 | IOSTANDARD = "LVCMOS33";
NET eth_txd<0>    LOC = H16 | IOSTANDARD = "LVCMOS33";
NET eth_txd<1>    LOC = G16 | IOSTANDARD = "LVCMOS33";
NET eth_txd<2>    LOC = G18 | IOSTANDARD = "LVCMOS33";
NET eth_txd<3>    LOC = J13 | IOSTANDARD = "LVCMOS33";
NET eth_txd<4>    LOC = K14 | IOSTANDARD = "LVCMOS33";
NET eth_txd<5>    LOC = L12 | IOSTANDARD = "LVCMOS33";
NET eth_txd<6>    LOC = L13 | IOSTANDARD = "LVCMOS33";
NET eth_txd<7>    LOC = K15 | IOSTANDARD = "LVCMOS33";
NET eth_tx_en     LOC = K17 | IOSTANDARD = "LVCMOS33";
# NET eth_tx_err    LOC = J18 | IOSTANDARD = "LVCMOS33";

NET eth_rx_clk    LOC = L16 | IOSTANDARD = "LVCMOS33";
NET eth_rx_dv     LOC = H15 | IOSTANDARD = "LVCMOS33";
NET eth_rx_err    LOC = H14 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<0>    LOC = G13 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<1>    LOC = E16 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<2>    LOC = E18 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<3>    LOC = K12 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<4>    LOC = K13 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<5>    LOC = F17 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<6>    LOC = F18 | IOSTANDARD = "LVCMOS33";
NET eth_rxd<7>    LOC = H13 | IOSTANDARD = "LVCMOS33";
NET eth_col       LOC = H12 | IOSTANDARD = "LVCMOS33";
NET eth_crs       LOC = D18 | IOSTANDARD = "LVCMOS33";

NET eth_rstn      LOC = J16 | IOSTANDARD = "LVCMOS33";
NET eth_mdc       LOC = D17 | IOSTANDARD = "LVCMOS33";
NET eth_mdio      LOC = G14 | IOSTANDARD = "LVCMOS33";

NET eth_rx_clk    TNM_NET = eth_rx_clk;
TIMESPEC TS_eth_rx_clk = PERIOD eth_rx_clk 8 ns;

NET eth_gtx_clk   TNM_NET = eth_gtx_clk;
TIMESPEC TS_eth_gtx_clk = PERIOD eth_gtx_clk 8 ns;

NET "eth_gtx_clk" SLEW = FAST;
NET "eth_tx_clk"  SLEW = FAST;
NET "eth_txd<?>"  SLEW = FAST;
NET "eth_tx_en"   SLEW = FAST;
# NET "eth_tx_err"  SLEW = FAST;

NET "eth_rx_clk"  SLEW = FAST;
NET "eth_rx_dv"   SLEW = FAST;
NET "eth_rx_err"  SLEW = FAST;
NET "eth_rxd<?>"  SLEW = FAST;
# NET "eth_col"     SLEW = FAST;
# NET "eth_crs"     SLEW = FAST;

##### TODO: get rid of this by IDDR/ODDR ?
# PIN "clk_bufg.O" CLOCK_DEDICATED_ROUTE = FALSE;
# PIN "c/clk_bufg.O" CLOCK_DEDICATED_ROUTE = FALSE;
# PIN "c/clk100_bufg.O" CLOCK_DEDICATED_ROUTE = FALSE;

## PMOD:

NET ja0           LOC = G11 | IOSTANDARD = "LVCMOS33";
NET ja1           LOC = F11 | IOSTANDARD = "LVCMOS33";
NET ja2           LOC = E11 | IOSTANDARD = "LVCMOS33";
NET ja3           LOC = D12 | IOSTANDARD = "LVCMOS33";

## QSPI:

NET spi_sdo       LOC = T13 | IOSTANDARD = LVCMOS33;
NET spi_sdi       LOC = R13 | IOSTANDARD = LVCMOS33;
#NET spi_wpn      LOC = T14 | IOSTANDARD = LVCMOS33;
#NET spi_hldn     LOC = V14 | IOSTANDARD = LVCMOS33;
NET spi_csn       LOC = V3  | IOSTANDARD = LVCMOS33;
NET spi_sck       LOC = R15 | IOSTANDARD = LVCMOS33;